@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Migra';
  src: url('/fonts/PPMigra-Extrabold.otf');
}
@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik Glitch';
  src: url('/fonts/RubikGlitch-Regular.ttf');
  font-weight: 400;
}

@layer base {
  html {
    @apply scroll-smooth cursor-none bg-brand-lightGray;
  }
  body {
    @apply bg-brand-lightGray;
  }

  a,
  .link {
    @apply text-brand-teal transition-colors hover:cursor-none;
  }

  .cursor-trigger {
    @apply hover:cursor-none;
  }

  button {
    @apply font-syne;
  }
}
